html, body {
    margin: 0;
    height: 100%;
    background-color: rgb(255, 255, 148);
}

.container {
    margin: 0;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: column;
}

.top {
    width: 100%;

    background-color: rgb(100, 100, 255);

    display: flex;
    align-items: center;
    justify-content: center;
}

.dialog {
    overflow: auto;
    list-style-type: none;

    height: 100%;
    width: 700px;

    padding: 20px;
    background-color: rgb(255, 255, 255);

    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    font: 1rem 'Fira Sans', sans-serif;
}

select {
    font: 1em "Fira Sans", sans-serif;
    outline: none;

    margin: 5px;
    width: 250px;
    min-height: 40px;
    font-size: 15px;
}

/* add_trigger_elements */

.add_trigger_elements {
    width: 90%;
    height: 90%;

    display: flex;
    flex-direction: column;
}

#text {
    align-self: center;

    padding: 20px;
    font: 22px "Fira Sans", sans-serif;
}

/* options */

.options1 {
    width: 100%;

    align-self: center;
    display: flex;
    flex-direction: column;
}

.options2 {
    display: flex;
    flex-direction: column;

    margin: 5px;
}

/* areas */

#key_area {
    display: flex;
    align-items: center;
}

#key {
    flex: 1;

    font: 14px "Fira Sans", sans-serif;
    outline: none;

    margin: 5px;
    width: 200px;
    min-height: 30px;
}

#name_area {
    display: flex;
    align-items: center;
}

#name {
    flex: 1;

    font: 14px "Fira Sans", sans-serif;
    outline: none;

    margin: 5px;
    width: 200px;
    min-height: 30px;
}

/* button_area */

#button_area {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.top_button {
    font: 1.1rem 'Fira Sans', sans-serif;

    padding: 10px;

    border: none;
    outline: none;

    background-color: rgb(100, 100, 255);
    color: rgb(236, 236, 236);
}

.top_button:hover {
    background-color: rgb(77, 77, 180);;
}

.container_button {
    font: 1.1rem 'Fira Sans', sans-serif;

    padding: 10px;
    margin: 2.5px;

    border: none;
    outline: none;

    background-color: white;

    cursor: pointer
}

.container_button:hover {
    background-color: rgb(219, 219, 219);
}

/* chekboxes */

#checkboxes input {
    margin: .4rem;
}

#checklabel {
    font: 1rem 'Fira Sans', sans-serif;
}

#choose_alarm {
    font: 1rem 'Fira Sans', sans-serif;
    margin: 5px;
}

/* webhook */

#webhook1 {
    display: flex;
    align-items: center;
}

#webhook2 {
    display: flex;
    align-items: center;
}

#webhook {
    margin: 2.5px;
}

#webhook_open {
    flex: 1;

    font: 14px "Fira Sans", sans-serif;
    outline: none;

    margin: 5px;
    width: 200px;
    min-height: 30px;
}

#webhook_close {
    flex: 1;
    font: 14px "Fira Sans", sans-serif;
    outline: none;

    margin: 5px;
    width: 200px;
    min-height: 30px;
}

/* time */

#time {
    display: flex;
    flex-direction: column;
    margin: 2.5px;
}

#time_start {
    font: 18px "Fira Sans", sans-serif;
    outline: none;

    margin: 5px;
    width: 200px;
    min-height: 30px;

    text-align: center;
}

#time_start_area {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#time_end_area {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#time_end {
    font: 18px "Fira Sans", sans-serif;
    outline: none;

    margin: 5px;
    width: 200px;
    min-height: 30px;

    text-align: center;
}

/* trigger_dialog */

.triggers_elements {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.trigger {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    max-width: auto;
    height: 50px;

    border-bottom: 1px gray solid;
}

.trigger:hover {
    background-color: rgb(175, 175, 175);
}

.trigger_name {
    font: 18px 'Fira Sans', sans-serif;
    margin: 5px;
}

.trigger_margin {
    flex: 1;
    min-height: 100%;
}

.trigger_delete {
    font: 18px 'Fira Sans', sans-serif;
    margin: 5px;
}

#triggers_list {
    overflow: auto;

    width: 100%;
    height: 100%;
}

.trigger_warning {
    margin: 5px;

    display: flex;
}

/* tutorial_elements */

.tutorial_elements {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tutorial_elements h2 {
    font: 1.6em "Fira Sans", sans-serif;

    margin: 0px;
    padding: 10px;
}

.tutorial_elements p {
    font: 18px "Fira Sans", sans-serif;

    margin: 0px;
    padding: 10px;
}

/* about_elements */

.about_elements {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about_elements h2 {
    font: 1.6em "Fira Sans", sans-serif;

    margin: 0px;
    padding: 10px;
}

.about_elements p {
    font: 18px "Fira Sans", sans-serif;

    margin: 0px;
    padding: 10px;
}

#img {
    width: 100%;
    height: 100%;
}

/* elements */

.elements {
    width: 100%;

    display: flex;
    flex-direction: row;
}

#trigger_text {
    font: 22px "Fira Sans", sans-serif;
    margin: 20px;
}

.margin {
    flex: 1;
}

/* buttons */

#buttons {
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;
}

/* select */

#states, #districts, #communities {
    width: 100%;
}

/* key_elements */

.key_elements {
    width: 100%;

    display: flex;
    flex-direction: column;
}

#key_area_text {
    align-self: center;

    padding: 20px;
    font: 22px "Fira Sans", sans-serif;
}

.key_name_area {
    display: flex;
    align-items: center;
}

#key_name {
    flex: 1;

    font: 14px "Fira Sans", sans-serif;
    outline: none;

    margin: 5px;
    width: 200px;
    min-height: 30px;
}

.key_email_area {
    display: flex;
    align-items: center;
}

#key_email {
    flex: 1;

    font: 14px "Fira Sans", sans-serif;
    outline: none;

    margin: 5px;
    width: 200px;
    min-height: 30px;
}

.key_textarea {
    display: flex;
    align-items: center;
}

#textarea {
    resize: none;

    flex: 1;

    font: 14px "Fira Sans", sans-serif;
    outline: none;

    margin: 5px;
    width: 200px;
    min-height: 60px;
}

.key_ok_area {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#key_ok {
    align-self: center;
}