body {
    margin: 0;
}

.container {
    width: 100%;
    min-height: 100vh;

    background-color: rgb(139, 236, 236);

    display: flex;
    align-items: center;
    justify-content: center;
}

.dialog {
    border-radius: 10px;
    padding: 20px;
    background-color: rgb(255, 255, 255);

    display: flex;
    flex-direction: column;
}

#text {
    align-self: center;
    font: 22px "Fira Sans", sans-serif;
}

h3 {
    font: 1em "Fira Sans", sans-serif;
}

label {
    font: 1rem 'Fira Sans', sans-serif;
}

.trigger {
    max-width: auto;
}

select {
    font: 1em "Fira Sans", sans-serif;
    outline: none;

    margin: 5px;
    width: 250px;
    min-height: 40px;
    font-size: 15px;
}

.options1 {
    align-self: center;
    display: flex;
    flex-direction: column;
}

.options2 {
    display: flex;
    flex-direction: column;

    margin: 5px;
}

/* areas */

#key_area {
    display: flex;
    align-items: center;
}

#key {
    flex: 1;
    font: 14px "Fira Sans", sans-serif;
    outline: none;

    margin: 5px;
    width: 200px;
    min-height: 30px;
}

#name_area {
    display: flex;
    align-items: center;
}

#name {
    flex: 1;
    font: 14px "Fira Sans", sans-serif;
    outline: none;

    margin: 5px;
    width: 200px;
    min-height: 30px;
}

/* button_area */

#button_area {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.button {
    font: 1.1rem 'Fira Sans', sans-serif;

    padding: 10px;
    margin: 2.5px;

    border: none;
    outline: none;
    background-color: rgb(255, 255, 255);
}

.button:hover {
    background-color: rgb(219, 219, 219);
}

/* chekboxes */

#checkboxes input {
    margin: .4rem;
}

#checklabel {
    font: 1rem 'Fira Sans', sans-serif;
}

#choose_alarm {
    font: 1rem 'Fira Sans', sans-serif;
    margin: 5px;
}

/* webhock */

#webhock1 {
    display: flex;
    align-items: center;
}

#webhock2 {
    display: flex;
    align-items: center;
}

#webhock {
    margin: 2.5px;
}

#webhock_open {
    flex: 1;
    font: 14px "Fira Sans", sans-serif;
    outline: none;

    margin: 5px;
    width: 200px;
    min-height: 30px;
}

#webhock_close {
    flex: 1;
    font: 14px "Fira Sans", sans-serif;
    outline: none;

    margin: 5px;
    width: 200px;
    min-height: 30px;
}

/* time */

#time {
    display: flex;
    flex-direction: column;
    margin: 2.5px;
}

#time_start {
    font: 18px "Fira Sans", sans-serif;
    outline: none;

    margin: 5px;
    width: 200px;
    min-height: 30px;

    text-align: center;
}

#time_start_area {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#time_end_area {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#time_end {
    font: 18px "Fira Sans", sans-serif;
    outline: none;

    margin: 5px;
    width: 200px;
    min-height: 30px;

    text-align: center;
}